@import "../../lib/styles/properties.css";

.MainView {
  background-color: #fff;
}

.MainView.Discover {
  position: relative;
}

/* stylelint-disable no-unsupported-browser-features */
@media (--break-2) {
  .isCategoryDrawerOpen ~ .MainView.show-info {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .category-sub-nav {
    grid-column: col-start / span 2;
    grid-row: 1;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .sidebar {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .StreamContainer {
    grid-column: col-start / span 2;
    grid-row: 2;
  }
}

@media (--break-3) {
  .isCategoryDrawerOpen ~ .MainView.show-info {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .category-sub-nav {
    grid-column: col-start / span 2;
    grid-row: 1;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .sidebar {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .StreamContainer {
    grid-column: col-start / span 2;
    grid-row: 2;
  }
}

@media (--break-4) {
  .isCategoryDrawerOpen ~ .MainView.show-info {
    grid-template-columns: repeat(4, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .category-sub-nav {
    grid-column: col-start / span 3;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .sidebar {
    grid-column: 4 / span 1;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .StreamContainer {
    grid-column: col-start / span 3;
  }
}

@media (--break-5) {
  .isCategoryDrawerOpen ~ .MainView.show-info {
    grid-template-columns: repeat(5, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .category-sub-nav {
    grid-column: col-start / span 4;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .sidebar {
    grid-column: 5 / span 1;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .StreamContainer {
    grid-column: col-start / span 4;
  }
}

@media (--break-6) {
  .isCategoryDrawerOpen ~ .MainView.show-info {
    grid-template-columns: repeat(6, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .category-sub-nav {
    grid-column: col-start / span 5;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .sidebar {
    grid-column: 6 / span 1;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .StreamContainer {
    grid-column: col-start / span 5;
  }
}

@media (--break-7) {
  .isCategoryDrawerOpen ~ .MainView.show-info {
    grid-template-columns: repeat(7, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .category-sub-nav {
    grid-column: col-start / span 6;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .sidebar {
    grid-column: 7 / span 1;
  }

  .isCategoryDrawerOpen ~ .MainView.show-info .StreamContainer {
    grid-column: col-start / span 6;
  }
}
/* stylelint-enable no-unsupported-browser-features */

.isModalActive .MainView {
  pointer-events: none;
}

.isOmnibarActive .MainView {
  padding-top: 0;
}

.PostDetail.MainView {
  padding-bottom: 30px;
}

@media (--break-3) {
  .PostDetail.MainView {
    height: calc(100vh - 80px);
    padding-bottom: 30px;
    overflow: hidden;
  }
}

.RelatedPostsTitle {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #aaa;
}

/* // MAX-WIDTH! */
@media (--break-2-max) {
  .isOnboardingView ~ .MainView {
    margin-top: 120px;
  }

  .isOmnibarActive .MainView,
  .isProfileMenuActive ~ .MainView {
    display: none;
  }

  .isLoggedOut .ArtistInvites.MainView,
  .isLoggedOut .Editorial.MainView {
    margin-top: 20px;
  }
}

@media (--break-2) {
  .Authentication.MainView {
    padding-top: 0;
  }

  .RelatedPostsTitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .TabListStreamContainer + .RelatedPostsStreamContainer .RelatedPostsTitle {
    margin-top: 45px;
  }

  .isOmnibarActive .Omnibar.isFullScreen ~ .MainView {
    display: none;
  }
}

@media (--break-3) {
  .isOnboardingView ~ .MainView {
    padding-bottom: 80px;
  }
}

