@import "../../lib/styles/properties.css";

.MainView {
  background-color: #fff;
}

.MainView.Discover {
  position: relative;
}

@media (--break-3) {
  .isCategoryDrawerOpen ~ .MainView.Discover {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
  }

  .isCategoryDrawerOpen ~ .MainView.Discover .category-sub-nav {
    grid-column: col-start / span 3;
    grid-row: 1;
  }

  .isCategoryDrawerOpen ~ .MainView.Discover .sidebar {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }

  .isCategoryDrawerOpen ~ .MainView.Discover .StreamContainer {
    grid-column: col-start / span 3;
    grid-row: 2;
  }
}

.isModalActive .MainView {
  pointer-events: none;
}

.isOmnibarActive .MainView {
  padding-top: 0;
}

.PostDetail.MainView {
  padding-bottom: 30px;
}

@media (--break-3) {
  .PostDetail.MainView {
    height: calc(100vh - 80px);
    padding-bottom: 30px;
    overflow: hidden;
  }
}

.RelatedPostsTitle {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #aaa;
}

/* // MAX-WIDTH! */
@media (--break-2-max) {
  .isOnboardingView ~ .MainView {
    margin-top: 120px;
  }

  .isOmnibarActive .MainView,
  .isProfileMenuActive ~ .MainView {
    display: none;
  }

  .isLoggedOut .ArtistInvites.MainView,
  .isLoggedOut .Editorial.MainView {
    margin-top: 20px;
  }
}

@media (--break-2) {
  .Authentication.MainView {
    padding-top: 0;
  }

  .RelatedPostsTitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .TabListStreamContainer + .RelatedPostsStreamContainer .RelatedPostsTitle {
    margin-top: 45px;
  }

  .isOmnibarActive .Omnibar.isFullScreen ~ .MainView {
    display: none;
  }
}

@media (--break-3) {
  .isOnboardingView ~ .MainView {
    padding-bottom: 80px;
  }
}

